doctype html
html
    head
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        title Socket.IO chat
        link(rel='stylesheet', href='/css/admin.css')
    body
        div.container
        script(src='https://cdn.socket.io/socket.io-1.2.0.js')
        script(src='http://code.jquery.com/jquery-1.11.1.js')
        script(src='/js/server-chat.js')