doctype html
html
    head
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        title Socket.IO Login
    body
        form(action='chat', method='POST')
            label(for='clientName') Name
            input(name='clientName', type='text', value='yo')
            input(type='submit', value='Start!')